

<div>
    <h3 class="text-white" mat-dialog-title>CONFIRM..!</h3>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-2">
        <h4 style="text-align: center">Are you want to delete <br><b>{{this.data.name}}</b></h4>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="center" style="padding: 8px 0px 0px 0px !important; margin-bottom: -10px">
        <button class="btn bg-danger" mat-button (click)="closeDialog()">
      <span>Cancel</span>
    </button>
        <button cdkFocusInitial class="btn bg-success" mat-button (click)="deleteData()">
      <span>Delete</span>
    </button>
    </mat-card-actions>
</div>
